{% extends "base.html" %}

{% block content %}

<h1 align="center">FOOTBALL LEAGUE</h1>

{% set sorted_teams = teams | sort(attribute='name') %}

<div align="center">

    <div class="list-group">

        {% for team in sorted_teams %}
        <a href="{{ url_for('views.team_players', team_id=team.id) }}" class="list-group-item list-group-item-action">{{
            team.name }}</a>
        {% endfor %}
    </div>
    <br><br>

    <h2>Top Players</h2>
    <br>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Average Rating</th>
        </tr>
        </thead>
        <tbody>
        {% for player in top_players %}
        <tr>
            <td><a href="{{ url_for('views.player_details', player_id=player.id) }}">{{ player.name }}</a></td>
            <td>{{ player.average_rating() }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
</div>


{% endblock %}