{% extends "base.html" %}

{% block content %}

<h1 align="center">EKSTRAKLASA 2022/2023 OCENY</h1>

{% set sorted_teams = teams | sort(attribute='name') %}

<div align="center">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-3"> 
                <div class="list-group">
                    {% for team in sorted_teams %}
                        <a href="{{ url_for('views.team_players', team_id=team.id) }}" class="list-group-item list-group-item-action">
                            {{ team.name }} ({{ team.average_player_rating() }})
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <h2>Top 10</h2>
    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Team</th>
                <th>Average Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for player in top_players %}
            <tr>
                <td><a href="{{ url_for('views.player_details', player_id=player.id) }}">{{ player.name }} </a></td>
                <td><a href="{{ url_for('views.team_players', team_id=player.team.id) }}">{{ player.team.name }}</a>
                </td>
                <td>{{ player.average_rating() }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
    <div class="comments-section">
        <h2>Ostatnie oceny i komentarze</h2>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Rating</th>
                    <th>Comment</th>
                    <th>User</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for rating in latest_ratings %}
                <tr>
                    <td><a href="{{ url_for('views.player_details', player_id=rating.player.id) }}">{{ rating.player.name }}</a></td>
                    <td>{{ rating.rating }}</td>
                    <td>{{ rating.comment }}</td>
                    <td><a href="{{ url_for('views.user_profile', username=rating.user.username) }}">{{ rating.user.username }}</a>
                    <td>{{ rating.date_created.strftime("%d/%m/%Y, %H:%M") }}</td>
                        
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</div>
<br><br>

{% endblock %}