{% extends "base.html" %}

{% block content %}
<h1 align="center">{{ player.name }} ({{ player.average_rating() }})</h1>
<p align="center">{{ player.team.name }}</p>
<br>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Comment</th>
        <th scope="col">Rating</th>
        <th scope="col">User</th>
        <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    {% for rating in player.ratings %}
    <tr>
        <td>{{ rating.comment }}</td>
        <td>{{ rating.rating }}</td>
        <td>{{ username }}</td>
        <td>{{ rating.date_created }}</td>


    </tr>
    {% endfor %}
    </tbody>
</table>
<div align="center">
<a href="{{ url_for('views.rate_player', player_id=player.id) }}"
   class="btn btn-primary btn-lg active"
   role="button"
   aria-pressed="true">Add Rating</a>
</div>
<br>
<div align="center">
    <a href="{{ url_for('views.team_players', team_id=player.team_id) }}" class="btn btn-primary">Back to team</a>
</div>

{% endblock %}
