{% extends "base.html" %}

{% block content %}
<h1 align="center" style="background-color: white; color: black;">{{ team.name }}</h1>
<br>

<div class="list-group">
    {% for player in players %}
    <a href="{{ url_for('views.player_details', player_id=player.id, user_id=current_user.id) }}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ player.name }}</h5>
            <small>{{ player.average_rating() }}</small>
        </div>
    </a>
    {% endfor %}
</div>
<br>
<div align="center">
    <a href="{{ url_for('views.home') }}" class="btn btn-primary">Back to Home</a>
</div>

{% endblock %}

